<ion-view view-title="Login">
  <ion-content padding="true">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password">
      </label>
      <button class="button button-block button-positive">
       Entrar
      </button>
    </div>
    <button class="button button-block button-positive icon-left ion-social-facebook" ng-click="fbLogin()">
     Login com Facebook
    </button>
  </ion-content>
</ion-view>
